body {
    background-image: url(../imgs/couleur-ciel_couverture.jpg);
    background-size: cover;
    margin: auto;
    background-position: center center;
    height: 100%;
}

.inner {
    background-color: rgba(253, 253, 253, 0.8);
    border-radius: 5px;
    padding: 50px 15px;
}